<a href="https://colab.research.google.com/github/aziz1234/Ecommerce-Website/blob/master/NewsArticleClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

news_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Datasets/uci-news-aggregator.csv", sep = ",")
news_df.tail()

            ID  ...     TIMESTAMP
293308  293768  ...  1.402957e+12
293309  293769  ...  1.402957e+12
293310  293770  ...  1.402957e+12
293311  293771  ...  1.402957e+12
293312  293772  ...           NaN

[5 rows x 8 columns]

In [0]:
import string

replace_values = {'b' : 1, 't' : 2, 'e' : 3,'m': 4}                                                                                          
news_df = news_df.replace({"CATEGORY": replace_values})

#news_df['CATEGORY'] = news_df.CATEGORY.map({ 'b': 1, 't': 2, 'e': 3, 'm': 4 })
news_df['TITLE'] = news_df.TITLE.map(
    lambda x: x.lower().translate(str.maketrans('','', string.punctuation))
)

news_df = news_df[news_df['CATEGORY'].notna()]
news_df.tail()

            ID  ...     TIMESTAMP
293307  293767  ...  1.402957e+12
293308  293768  ...  1.402957e+12
293309  293769  ...  1.402957e+12
293310  293770  ...  1.402957e+12
293311  293771  ...  1.402957e+12

[5 rows x 8 columns]

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    news_df['TITLE'], 
    news_df['CATEGORY'], 
    random_state = 1
)

print("Training dataset: ", X_train.shape[0])
print("Test dataset: ", X_test.shape[0])

Training dataset:  219984
Test dataset:  73328

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
training_data = tfidf.fit_transform(X_train)
testing_data = tfidf.transform(X_test)

In [0]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression


naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
#sgdc =  SGDClassifier()
#sgdc.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
predictions = naive_bayes.predict(testing_data)
#predictions = naive_bayes.predict("Harry Potter star Rupert Grint welcomes child lady with girlfriend Georgia Groome",1)
predictions

array([3., 4., 3., ..., 3., 1., 2.])

In [0]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score

print("Accuracy score: ", accuracy_score(y_test, predictions))
print("Recall score: ", recall_score(y_test, predictions, average = 'weighted'))
print("Precision score: ", precision_score(y_test, predictions, average = 'weighted'))
print("F1 score: ", f1_score(y_test, predictions, average = 'weighted'))

Accuracy score:  0.9279129391228453
Recall score:  0.9279129391228453
Precision score:  0.9285664084527914
F1 score:  0.927563479315182

In [0]:

def predict(s):
  s=[s]
  s= tfidf.transform(s)
  x=naive_bayes.predict(s)
  if x[0]==1:
     print("Buisness")
  elif x[0]==2:
     print("science and technology")
  elif x[0]==3:
      print("Entertainment")
  elif x[0]==4:
      print("Health")

s = "Saudi, US companies also eyeing stakes in Reliance's Jio Platforms"
predict(s)

Buisness